<p style="color: green"><%= notice %></p>

<%= render @report %>

<h1>この日報は以下の日報からリンクされています</h1>

<div id="mentions">
  <% @report.mentionners.each do |report| %>
    <p>
      <%= link_to report.title, report_path(report.id), target: :_blank, rel: "noopener noreferrer" %>
      <%= display_time_difference_between_now_and_created_at(report.created_at)%>
      <% time_difference =  Time.zone.now - report.created_at  %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this report", edit_report_path(@report) %> |
  <%= link_to "Back to reports", reports_path %>

  <%= button_to "Destroy this report", @report, method: :delete %>
</div>
